

p, h1, h2,h3,h4,h5,h6,a,button,ul,li,strong,br {
    margin: 0 !important;
    padding: 0 !important;
    outline: none;
}

svg {
    margin: 0;
    padding: 0;
    vertical-align: center !important;
}

input {
    border: none;
    font-size: 18px;
    display: block;
    outline: none;
}
